body{
        background-color:#c0c0c0; 
        font-family: 'Oxygen', sans-serif;
    }

.flipcard{
        margin-top:100px;
        background-color:#5e5e5e;
        width: 0%;
        height: 50%;
        position:absolute;
        border-radius:5px;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        left:-200px;
    }
    
:target{
        width:80%;
        left:0px;
    }
    
.cardlink{
    background-color:#545657;
    padding:10px;
    position:relative;
    top:5px;
    font-size:20px;
    text-decoration:none;
	color:#bbb;
	border: solid 1px transparent;
    margin-left:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
    }

.flipcard li{
        float:left;
        margin-left:10px;
    }
    
.flipcard a{
        padding:5px;
        text-decoration:none;
        color:#bbb;
        font-size:20px;
    }

.flipcard a:hover{
        background-color:#505050;
    }
    
.flipcard a:active{
        background-color:#404040;
    }
    
.Design{
        background-color:blue;
    }

.Leisure{
        background-color:yellow;
    }
.Programming{
        background-color:green;
    }
.Social{
        background-color:red;
    }